<ion-header>
  <ion-toolbar>
    <ion-title size="large">Main</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ion-padding">
  <ion-list *ngIf="beer$ | async as beerList">
  <ion-card *ngFor="let beer of beerList" class="ion-padding" [routerLink]="['/beer', beer.id]">
    <img [alt]="beer.name" [src]="beer.image_url" height="300px" class="image" />
    <ion-card-header>
      <ion-card-title>{{beer.name}}</ion-card-title>
      <ion-card-subtitle>Alcohol: {{beer.abv}}%</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
